#mainContent {
	font-family: serif;
	font-size: xx-large;
	font-weight: bold;
	border-radius: 4px;
	padding: 10px;
	text-align: center;
}
 h2{
 	text-align: left;
 }
 
 p{
 	text-align: left;
 	font-weight: normal;
 	font-size: normal;
 }