#mainContent {
	font-family: cursive;
	font-size: xx-large;
	font-weight: bold;
	background-color: #436D6A;
	border-radius: 4px;
	padding: 10px;
	text-align: center;
}
.buttonStyle {
	border-radius: 4px;
	border: thin solid #A6C7C5;
	padding: 5px;
	background-color: #5F6F6E;
	font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
	font-weight: bold;
	color: #2B4B49;
	width: 75px;
}

.buttonStyle:hover {
	border: thin solid #FFCC00;
	background-color: #01887E;
	color: #2B4B49;
	cursor: pointer;
}
.buttonStyle:active {
	border: thin solid #99CC00;
	background-color: #17BAAE;
	color: #669900;
	cursor: pointer;
}

image:
	url(https://www.google.com/imgres?imgurl=https%3A%2F%2Fstatic.tumblr.com%2Fe6a5c9ed7e5e7a80e1af62383990ecea%2Fq5nmq8t%2FCxsov57dk%2Ftumblr_static_e6ewo8isbk84gcc4o08c8c8ok.jpg&imgrefurl=https%3A%2F%2Fjacks-support-group.tumblr.com%2F&docid=TfSfH6LIymW7RM&tbnid=wJcIEU_DSjTMcM%3A&vet=10ahUKEwiE17Hd_rrdAhUhjlQKHciNDk8QMwh6KDkwOQ..i&w=768&h=768&hl=en&safe=strict&bih=974&biw=1920&q=jacksepticeye&ved=0ahUKEwiE17Hd_rrdAhUhjlQKHciNDk8QMwh6KDkwOQ&iact=mrc&uact=8);
